{% extends 'general_views/base.html' %}
{% load static %}

{% block content %}  
<style>
    /* Custom style for the file download button */
    .custom-file-input {
        display: none;
    }
    
    /* Your personalized style for the download button */
    .custom-file-button {
        background-color: #333;
        color: white;
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>
<main>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-md-10 col-sm-12">
                <h1 class="text-center text-secondary pb-4">Modification du profil</h1>
                <p class="text-center text-secondary">Remplissez vos information de profil afin de nous aider à afiner vos recherche</p>
                <div class="card mb-4 p-4" style="" style>
                    <div class='row'>
                        <div class="col-3 px-4">
                            <div style="width:200px, min-height:250px;">
                                {% if user_form.instance.user_img %}
                                    <img src="{{ user_form.instance.user_img.url }}" class="card-img-top" style="height:200px; width:200px; object-fit: cover; border-radius:50%; overflow: hidden;" alt="Profile Image">
                                {% else %}
                                    <img src="{% static 'img/default_profile.png' %}" class="card-img-top" style="height:200px; width:200px; object-fit: cover; border-radius:50%; overflow: hidden;" alt="Default Image">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-9">
                            <form method="post" enctype="multipart/form-data">
                                <h3 class="text-center text-primary">Changer la photo de profile</h3>
                                {% csrf_token %}
                                <div class="form-group text-center pt-3" style="height:150px;">
                                    <div class="my-3">
                                        <div class="row justify-content-center">
                                            <div class="col-4">
                                                <label for="{{ img_form.user_img.id_for_label }}" class="custom-file-button col-12">
                                                    Choisir une image
                                                </label>
                                                <input type="file" class="custom-file-input" name="{{ img_form.user_img.name }}" id="{{ img_form.user_img.id_for_label }}">
                                            </div>
                                            <div class="col-4">
                                                <button type="submit" class="btn btn-dark col-12" name="submit_image"style="height:40px;">Valider l'image de profil</button>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="col-4 btn btn-danger" name="delete_image" style="height:40px;">Supprimer l'image</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="form-group p-4">
                    <div class="row">
                        <div class="col-md-6 col-12 mt-4" style="">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <h3 class="text-center text-primary">Informations Générales</h3>
                                <p class="text-center text-secondary">Modifiez ou remplissez les champs libres de votre profil</p>
                                {% for field in user_form.visible_fields %}
                                <div class="form-group text-center ">
                                    <label for="{{ field.id_for_label }}" class="mb-3 pt-2" style="font-weight:bold;">{{ field.label }}</label>
                                    <div class='text-center'>{{ field }}</div>                                    
                                    {% if field.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in field.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                                <div class="text-center pt-4">
                                    <p class="text-center py-0">Champs obligatoires "*"</p>
                                    <button type="submit" name="save_user_form" class="btn btn-dark">Enregistrer les informations</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 col-12 mt-4" style="">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <h3 class="text-center text-primary">Localisation</h3>
                                <p class="text-center text-secondary">Vos recherches pourront être centrées sur votre position</p>
                                {% for field in address_form.visible_fields %}
                                <div class="form-group text-center">
                                    <label for="{{ field.id_for_label }}" class="mb-3 pt-2" style="font-weight:bold;">{{ field.label }}</label>
                                    <div class='text-center'>{{ field }}</div>
                                </div>
                                {% endfor %}
                                <div class="text-center pt-2">
                                    <p class="text-center py-0">Champs obligatoires "*"</p>
                                    <button type="submit" name="save_address_form" class="btn btn-dark">Enregistrer l'adresse</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-3 mb-5">
                <a href="{% url 'profile' %}" class="btn btn-primary">Retour à la page de profil</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}