{% extends 'general_views/base.html' %}
{% load static %}

{% block content %}        
<main>
    <div class="container mt-4">
        <div class="row justify-content-center">
            {% if messages %}
            <div class="messages col-8">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-8 border p-3">
                <h1 class="text-center pb-4">Profil de {{ user.username }}</h1>
                <div class="row">
                    <div class="col-12 col-md-4 text-center">
                        <img 
                        src="{% if user.user_img %}{{ user.user_img.url }}{% else %}{% static 'img/default_profile.png' %}{% endif %}" 
                        alt="Photo de profil" 
                        class="img-fluid" style="height:200px; width:200px; object-fit: cover; border-radius:50%; overflow: hidden;">
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="form-group p-4">
                            <div class="row">
                                <div class="col-12 py-2">
                                    <label>Prénom :</label>
                                    {{ user.first_name }}
                                </div>
                                <div class="col-12 py-2">
                                    <label>Nom :</label>
                                    {{ user.last_name }}
                                </div>
                                <div class="col-12 py-2">
                                    <label>Nom d'utilisateur :</label>
                                    {{ user.username }}
                                </div>
                                {% if user.date_of_birth %}
                                <div class="col-12 py-2">
                                    <label>Date de naissance :</label>
                                    {{ user.date_of_birth }}
                                </div>
                                {% endif %}
                                {% if user.phone_number %}
                                <div class="col-12 py-2">
                                    <label>Numéro de téléphone :</label>
                                    {{ user.phone_number }}
                                </div>
                                {% endif %}
                                {% if user.get_address %}
                                <div class="col-12 py-2">
                                    <label>Adresse :</label>
                                    {{ user.get_address }}
                                </div>
                                {% endif %}
                                {% if roles %}
                                    {% for role in roles %}
                                        <div class="col-12 py-2">
                                            <label>Role :</label>
                                            {{ role.role }} de l'association '{{ role.association }}'
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="pt-2">
                            <a href="{% url 'update_profile' %}" class="btn btn-primary m-4 rounded-pill"style="font-family: Montserrat, arial, sans-serif;">
                                Modifier le profil
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}