{% extends "general_views/base.html" %}

{% block content %}
<main>
  <div class='container'>
    <div class='row pt-4 justify-content-center'>
      <h1 class='col-12 col-lg-6 py-4 text-center text-primary' style='font-weight: bold;'>
        {{association}}
      </h1>
      <div class='row pt-4 justify-content-center'>
      <h2 class='col-6 col-md-8 pb-4 text-center'>Liste des événements: </h2>
      <ul class='list-unstyled'>
        {% for event in association_events %}
        <div class='row justify-content-center'>
          <li class="col-3 text-center">
            <a 
              class="btn btn-primary rounded-2 p-4" 
              style="font-family: Montserrat, arial, sans-serif;" 
              href="{% url 'event_detail' association_id=association.id event_id=event.event.id %}">
              {{ event.event }}</br>{{ event.event.date }}
            </a>
          </li>
        </div>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>
{% endblock %}
