{% extends "general_views/base.html" %}

{% block content %}
<main>
  <section class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 py-5">
        <div class="card border rounded-4 border-5 text-center">
          <h1>{{ event.event_name }}</h1>
          <p class="card-text">Date : {{ event.date }}</p>
          <p>Description : {{ event.description }}</p>
        </div>
      </div>
    </div>
      <div class='row justify-content-around'>
        <div class="col-6 text-center">
          <a href="{% url 'association_detail' association_id=association_id %}" class="btn btn-dark my-4 rounded-pill" style="font-family: Montserrat, arial, sans-serif;font-weight: bold">Retourner à la page de l'assocation</a>
        </div>
        <div class="col-6 text-center">
          <a href="{% url 'home' %}" class="btn btn-dark my-4 rounded-pill" style="font-family: Montserrat, arial, sans-serif;font-weight: bold">Retourner à la page d'accueil</a>
        </div>
      </div>  
  </section>
</main>
{% endblock %}