{% extends 'general_views/base.html' %}

{% block content %}
<main style="min-height:100vh; background-color:#ccc">
    <section class='container'>
        <div class="row">
            <h3 class="text-center text-primary py-5">Information générale de l'association</h3>
            <form class="border rounded-4 border-5" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <div class="row justify-content-center" style="font-weight:bold;">
                        <div class="col-md-4 col-8 py-2 text-center">
                            <label class="text-dark" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                        <div class="col-md-4 col-8 py-2 text-center">
                            {{ field }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-12 py-2 text-center">
                    <button type="submit" class="btn btn-primary text-center">Créer l'association</button>
                </div>
            </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}
