{% extends 'general_views/base.html' %}
{% block content %}
<style>
    li, ul{
        font-
    }
</style>
<main>
    <section class='container'>
        <div class="row">
            <h1 class='py-5' style="font-weight:bolder">Centre d'Aide - FAQ</h1>
        </div>
        <div class="row py-5">
            <div class="accordion" id="faqAccordion">
                <h2 class="pb-4">Instructions pour les Nouveaux Utilisateurs</h2>
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faqQuestion1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqAnswer1" aria-expanded="false" aria-controls="faqAnswer1">
                            Créer mon compte utilisateur
                        </button>
                    </h3>
                    <div id="faqAnswer1" class="accordion-collapse collapse" aria-labelledby="faqQuestion1" data-bs-parent="#faqAccordion">
                        <div class="accordion-body pb-1">
                            Pour créer votre compte, suivez ces étapes :
                            <ul>
                                <li>Cliquez sur le bouton 'Se connecter' de la barre de navigation.</li>
                                <li>En-dessous du formulairede connexion se trouve 'créer votre compte', cliquez sur le lien.</li>
                                <li>Remplissez tous les champs du formulaire.</li>
                                <li>Cliquez sur le bouton 'S'inscrire' pour valider votre inscription.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faqQuestion2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqAnswer2" aria-expanded="false" aria-controls="faqAnswer2">
                            Modifier mon compte utilisateur
                        </button>
                    </h3>
                    <div id="faqAnswer2" class="accordion-collapse collapse" aria-labelledby="faqQuestion2" data-bs-parent="#faqAccordion">
                        <div class="accordion-body pb-1">
                            Pour modifier ou ajouter des informations votre compte, suivez ces étapes :
                            <ul>
                                <li>Assurez-vous d'être bien connecté ou inscrit.</li>
                                <li>Cliquez sur le bouton 'Mon compte' de la barre de navigation.</li>
                                <li>Cliquez sur le bouton 'Modifer mon profil'.</li>
                                <li>Deux formulaires s'offrent à vous, les information personnelles et l'adresse.</li>
                                <li>En fonction du formulaire rempli, cliquez sur le bouton 'Enregistrer'.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faqQuestion3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqAnswer3" aria-expanded="false" aria-controls="faqAnswer3">
                            Comment puis-je me présenter en tant que directeur d'association ?
                        </button>
                    </h3>
                    <div id="faqAnswer3" class="accordion-collapse collapse" aria-labelledby="faqQuestion3" data-bs-parent="#faqAccordion">
                        <div class="accordion-body pb-1">
                            Pour créer un événement, suivez ces étapes :
                            <ul>
                                <li>Connectez-vous à votre compte.</li>
                                <li>Cliquez sur 'Vous dirigez une association ?'.</li>
                                <li>Remplissez les champs du formulaire puis cliquez sur 'Envoyer demande'.</li>
                                <li>Renseignez les détails de l'événement et cliquez sur "Enregistrer".</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}