{% extends 'general_views/base.html' %}
{% block content %}
<main style="min-height:100vh; background-color:#ddd">
    <section class='container text-center' style="font-weight: bold">
        <div class="row">
            <h1 class='py-5'>Centre d'aide</h1>
        </div>
        <div class="row py-5">
            <h2>Instructions pour les Nouveaux Utilisateurs</h2>
            <p>Bienvenue dans notre application ! Suivez ces étapes pour commencer.</p>
        </div>
        <div class="row py-5">
            <h2>FAQ</h2>
                <h3>Comment puis-je rejoindre une association ?</h3>
                <p>Pour rejoindre une association, suivez ces étapes...</p>
                
                <h3>Comment puis-je créer un événement ?</h3>
                <p>Pour créer un événement, suivez ces étapes...</p>
        </div>
        <div class="row py-5">    
            <h2>Tutoriels</h2>
                <h3>Guide pour les Associations</h3>
                <p>Apprenez comment créer et gérer votre association.</p>
        </div>
        <div class="row py-5">
            <h2>Contactez-nous</h2>
            <p>Besoin d'aide ? Contactez notre équipe de support à support@example.com.</p>
        </div>
        <div class="row py-5">
            <h2>Mises à Jour et Nouveautés</h2>
            <p>Découvrez les dernières fonctionnalités de notre application.</p>
        </div>
        <div class="row py-5">
            <h2>Feedback et Suggestions</h2>
            <p>Nous apprécions vos commentaires ! Laissez-nous savoir comment nous pouvons améliorer.</p>
        </div>
        <div class="row py-5">
            <h2>Politiques</h2>
            <p>Consultez nos politiques de confidentialité et nos conditions d'utilisation.</p>
        </div>
    </section>
</main>
{% endblock %}