{% load static %}
<section id="search_form">
    <div class="container p-4 p-md-5">
        <div class="row" id="find_text">
            <div class="col-12 col-md-8">
                <div class="text-light">
                    Trouvez l'association qui répondra à vos besoins.
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-xl-7">
                <div class="form-container bg-white p-0">
                    <form method="post" class="searchbar">
                        {% csrf_token %}
                        <div class="row" style="height:60px;">
                            {% for field in form %}
                                {% if field.name == "quoi" %}
                                <div class="col-md-4 pb-2">
                                    <div class="form-group">
                                        <label for="{{ field.id }}" class="sr-only">{{ field.label }}</label>
                                        <input class='form-control border-0' style="height:60px;" aria-label="{{ field.label }}" name="{{ field.name }}" placeholder="Nom, secteur associatif, ..."></input>
                                    </div>
                                </div>
                                {% elif field.name == "ou" %}
                                <div class="col-md-4 pb-2">
                                    <div class="form-group">
                                        <label for="{{ field.id }}" class="sr-only">{{ field.label }}</label>
                                        <input class='form-control border-0' style="height:60px;" aria-label="{{ field.label }}" name="{{ field.name }}" placeholder="Où?"></input>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                            <div class="col-md-4 pb-2">
                                <div class="form-group d-flex justify-content-end p-1" style="height: 60px;">
                                    <button 
                                        id="search-button"
                                        class="btn btn-lg text-white"
                                        type="submit">
                                        Rechercher
                                    </button>    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <img src="{% static 'img/accueil.png' %}" class="search_img d-none d-md-block"">
</section>